<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>Santulli Lab</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2202.7">
  <style type="text/css">
    li.li1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #0000dc; -webkit-text-stroke: #0000dc}
    li.li2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; color: #0000dc}
    span.s1 {-webkit-text-stroke: 0px #000000}
    span.s2 {font-kerning: none}
    span.s3 {font-kerning: none; -webkit-text-stroke: 0px #0000dc}
    ul.ul1 {list-style-type: disc}
  </style>
</head>
<body>
<ul class="ul1">
  <li class="li1"><span class="s1"></span><span class="s2">/* -------------------------</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"> <span class="Apple-converted-space">  </span>General Page Styles</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">------------------------- */</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">body {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>font-family: Arial, sans-serif;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>margin: 20px;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>padding-left: 40px; /* Increased left margin */</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>line-height: 1.6;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>background-color: #f9f9f9;</span></li>
  <li class="li2"><span class="s3">}</span></li>
  <li class="li2"><span class="s3"><br>
</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">p {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>margin-bottom: 15px;</span></li>
  <li class="li2"><span class="s3">}</span></li>
  <li class="li2"><span class="s3"><br>
</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">a {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>color: blue;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>text-decoration: none;</span></li>
  <li class="li2"><span class="s3">}</span></li>
  <li class="li2"><span class="s3"><br>
</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">a:hover {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>text-decoration: underline;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>color: darkblue;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>transition: 0.3s;</span></li>
  <li class="li2"><span class="s3">}</span></li>
  <li class="li2"><span class="s3"><br>
</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">/* -------------------------</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"> <span class="Apple-converted-space">  </span>Navigation Bar</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">------------------------- */</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">nav {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>background-color: #333;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>padding: 10px 20px;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>position: sticky;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>top: 0;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>z-index: 100;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>margin-bottom: 30px;</span></li>
  <li class="li2"><span class="s3">}</span></li>
  <li class="li2"><span class="s3"><br>
</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">nav ul {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>list-style: none;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>margin: 0;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>padding: 0;</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>display: flex;</span></li>
  <li class="li2"><span class="s3">}</span></li>
  <li class="li2"><span class="s3"><br>
</span></li>
  <li class="li1"><span class="s1"></span><span class="s2">nav li {</span></li>
  <li class="li1"><span class="s1"></span><span class="s2"><span class="Apple-converted-space">  </span>margin-right</span></li>
</ul>
</body>
</html>
